<header>
  <div class="wrapper">
    <h1>קולומבוס</h1>
    <span class="message">הפנים של העולם החזותי, לכל אחד ומכל מקום</span>
    <button mat-flat-button color="primary" class="link">עבור לקולמבוס</button>
  </div>
</header>
<div class="container body">
  <div class="row">
    <section class="col-sm-12 content">
        <div class="title">
          <span class="text">
            חומרי הדרכה עצמית
          </span>
        </div>
        <hr>
        <div class="buttons-aria">
          <button mat-raised-button>
            <mat-icon>
              play_circle_outline
            </mat-icon>
            <br>
            צפייה בסרטון הכירות
            <br>
            (2:30 דקות)
          </button>

          <button mat-raised-button>
            <mat-icon>
              play_circle_outline
            </mat-icon>
            <br>
            צפייה בסרטון הדרכה בסיסי
            <br>
            (24:00 דקות)
          </button>

          <button mat-raised-button>
            <mat-icon>
              read_more
            </mat-icon>
            <br>
            צפייה במצגת הדרכה מפורטת
            <br>
            (על כלל יכולות המערכת)
          </button>
        </div>

        <div class="title">
          <span class="text">
            תמיכה
          </span>
        </div>
        <hr>
        <div class="buttons-aria">

        <button mat-raised-button>
          <mat-icon>
            miscellaneous_services
          </mat-icon>
          <br>
          צפייה במצגת הדרכה מפורטת
          <br>
          (על כלל יכולות המערכת)
        </button>
        </div>

    </section>
  </div>
</div>
<footer>
  <div class="help">
    <mat-icon>
      call
    </mat-icon>
      360-4646
  </div>

  <div class="help">
    <mat-icon>
      mail
    </mat-icon>
      צוות קולומבוס
  </div>

</footer>
