<header>
  <div class="wrapper">
    <h1>קולומבוס</h1>
    <span class="message">הפנים של העולם החזותי, לכל אחד ומכל מקום</span>
    <button mat-flat-button color="primary" class="link" (click)="navigateToColumbus()">
        עבור לקולמבוס
    </button>
  </div>
</header>

<div class="container body">
  <div class="bg">

  </div>
  <div class="row">
    <section class="col-sm-12 content">
        <div class="title">
          <span class="text">
            חומרי הדרכה עצמית
          </span>
        </div>
        <hr>
        <div class="buttons-aria">
          <button mat-raised-button (click)="navigateToShortVideo()">
            <mat-icon>
              play_circle_outline
            </mat-icon>
            <span>
              <br>
              צפייה בסרטון הכירות
              <br>
              (2:30 דקות)
            </span>
          </button>

          <button mat-raised-button>
            <mat-icon>
              play_circle_outline
            </mat-icon>
            <span>
              <br>
              צפייה בסרטון הדרכה בסיסי
              <br>
              (24:00 דקות)
            </span>
          </button>

          <button mat-raised-button (click)="navigateToPresntion()">
            <mat-icon>
              read_more
            </mat-icon>
            <span>
              <br>
              צפייה במצגת הדרכה מפורטת
              <br>
              (על כלל יכולות המערכת)
            </span>
          </button>
        </div>

        <div class="title">
          <span class="text">
            תמיכה
          </span>
        </div>
        <hr>
        <div class="buttons-aria">

        <button mat-raised-button>
          <mat-icon>
            build
          </mat-icon>
          <span>
            <br>
            צפייה במצגת הדרכה מפורטת
            <br>
            (על כלל יכולות המערכת)
          </span>
        </button>
        </div>
        <br>
    </section>
  </div>
</div>

<footer>
  <div class="help">
    <span class="footstep">
      <mat-icon>
        call
      </mat-icon>
        360-4646
    </span>
  </div>

  <div class="help">
    <span class="footstep">
      <mat-icon>
        mail
      </mat-icon>
        צוות קולומבוס
    </span>
  </div>
</footer>
