header{
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
  direction: rtl;
  display: flex;
  h1,.message{
    font-size: 3vw;
  }
}

footer{
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
  direction: ltr;
  display: flex;
  mat-icon{
    margin-right: 2vh;
  }
}


.wrapper{
  display: inline-flex;
}

.link{
  background-color: #0091ff;
  border-radius: 50px;
  font-size: 2vw;
  margin-right: 10vw;
  margin-top: 5vh;
  max-height: 10vh;
  width: 18vw;
}


.body{
  position: relative;
  z-index: 1;
}

.bg{
  position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image:url('../../assets/pics/גלובוס.jpg');
    background-size: 100% auto;
    background-size: cover;
    opacity: 0.7;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.message{
  margin-top: 4.5vh;
  margin-right: 2vw;
}

.title{
  color: black;
  padding: 20px;
  text-align: center;
  direction: rtl;
  display: flex;
}

.text{
  color: #000000;
}

.content{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.buttons-aria{
  direction: rtl;
  margin-bottom: 20px;
  button{
    font-size: 1.5vw;
    height: 35%;
    width: 22%;
    margin-left: 10vw;
    mat-icon{
      font-size: 3vw;
      margin-bottom: 10%;
      margin-top: 15%;
      margin-right: 2%;
    }
    span{
      margin-bottom: 10%;
    }
  }
}

.help{
  margin-left: 2vw;
}

.footstep{
  font-size: 1.5vw;
  mat-icon{
    font-size: 2vw;
  }
}

