header{
  background-color: #262525;
  color: #ddd;
  padding: 20px;
  text-align: center;
  direction: rtl;
  display: flex;
  h1,.message{
    font-size: 2.5vw;
  }
}

footer{
  background-color: #262525;
  color: #ddd;
  padding: 20px;
  text-align: center;
  direction: ltr;
  display: flex;
  mat-icon{
    margin-right: 2vh;
  }
}


.wrapper{
  display: inline-flex;
}

.link{
  background-color: #0091ff;
  font-size: 2vw;
  margin-right: 10vw;
  margin-top: 2vh;
  max-height: 10vh;
  width: 18vw;
  height: 8vh;
  border-radius: 46px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}


.body{
  position: relative;
  z-index: 1;
}

.bg{
  position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image:url('../../assets/pics/group-11.png');
    background-size: 100% auto;
    background-size: cover;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.headerLogo{
  font-family: Assistant;
  font-size: 3.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.87px;
  color: #ffffff;
  margin-right: 6vw;
}
.message{
  margin-top: 2vh;
  margin-right: 3vw;
  font-family: Assistant;
  font-size: 2.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.46px;
  color: #f8f8f8;
}

.title{
  color: black;
  padding: 20px;
  text-align: center;
  direction: rtl;
  display: flex;

}

.text{
  font-family: Assistant;
  font-size: 2vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.44px;
  text-align: center;
  color: #000000;

}

.content{
  margin-right: 5vw;
}

.sepLine{
  width: 90%;
  margin-left: 8vw;
}
.buttons-aria{
  direction: rtl;
  margin-top: 5vh;
  margin-right: 5vw;
  button{
    font-size: 1.5vw;
    height: 35%;
    width: 22%;
    margin-left: 4vw;
    min-height: 25vh;

    mat-icon{
      font-size: 3vw;
      margin-bottom: 10%;
      margin-top: 15%;
      margin-right: 2%;
    }
    span{
      margin-bottom: 10%;
    }
  }
}

.help{
  margin-left: 2vw;
  font-family: Assistant;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.44px;
  color: #ffffff;
}

.footstep{
  font-size: 1.5vw;
  mat-icon{
    font-size: 2vw;
  }
}

@font-face{
  font-family: 'Assistant';
  src: url('../../assets/font/Assistant-Regular.ttf');
}
