<div *ngIf="isLastPicture()">
  <p >
        <img id="logo" src="..\..\assets\logo.svg" (click)="navToColumbus()">
  </p>
  <p>
    <button id="home" mat-raised-button (click)="navHome()">
      <mat-icon>
        home
      </mat-icon>
      <span>
        <br>
        home page
      </span>
    </button>
  </p>
</div>

<img id="presentation" src={{images[currentImage]}}>
<div *ngIf="!isLastPicture()" class="left" (click)="nextImage()">
    <img src="../../assets/pics/back.png">
</div>
<div *ngIf="!isFirstPicture()" class="right" (click)="previousImage()">
    <img src="../../assets/pics/next.png">
</div>
<div *ngIf="!isLastPicture()" class="skip" (click)="skip()">
    <img src="../../assets/pics/previous-track.png">
    <span>דלג לסוף</span>
</div>

<div class="carousel-indicators">
    <span [class.active]="i===currentImage" *ngFor="let image of images; let i=index;" (click)="currentImage = i"></span>
</div>
